.cart {
	width: 100%;
}
.cart-header {
	height: 250px;
	background: #90d6af;
	border: 2px;
	border-radius: 2rem;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
}
.cart-title {
	font-size: 2rem;
	padding: 10px;
}
.cart-logo {
	object-fit: fill;
	height: 80px;
	width: 80px;
	padding: 20px;
	margin-left: 10px;
	color: black;
}