.container {
	/*max-width: 500px;
	min-height: 300px;*/
	overflow: auto;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #616161;

	align-content: center;
	align-self: center;
	align-items: center;
}